<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">


</head>
<body>
<h1>Log Service Test</h1>
<div>
  <button (click)="testInfo()">Info Test</button>
  <button (click)="testWarn()">Warn Test</button>
  <button (click)="testError()">Error Test</button>
  <button (click)="testFatal()">Fatal Test</button>
  <button (click)="testLog()">Log Test</button>
  <button (click)="testUnHandeledError()">UnHandeled Error Test</button>
  <button (click)="testHandeledError()">HandeledError Test</button>
  <button (click)="testHttpInterceptorError()">Http Interceptor Error Test</button>
</div>
</body>
</html>
